@{
    ViewBag.Title = "Start";
}

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Wybierz wymarzone wakacje!</h1>
        <h3>najlepsze propozycje wakacji w mieście</h3>
        <br>
        <a onclick="goToFirstStep()" class="btn btn-dark btn-lg">Spróbuj</a>
    </div>
</header>

<section id="firstStep" class="firstStep" style="display: none"></section>
<section id="secondStep" class="secondStep" style="display: none"></section>
<section id="thirdStep" class="thirdStep" style="display: none">
<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->

<div class="container">
    <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>Wyniki</h2>
            <hr class="small">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="service-item"></div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-compass fa-stack-1x text-primary"></i>
                        </span>
                        <h4>
                            <strong>Gdzie powinieneś jechać</strong>
                        </h4>
                            <p>Włochy</p>
                            <p>Hiszpania</p>
                            <p>Polska</p>
                            <p>Grecja</p>
                            <p>Cypr</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-shield fa-stack-1x text-primary"></i>
                        </span>
                        <h4>
                            <strong>Gdzie nie powinieneś jechać</strong>
                        </h4>
                            <p>Austria</p>
                            <p>Czechy</p>
                            <p>Słowacja</p>
                            <p>Indie</p>
                            <p>Malezja</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="service-item"></div>
                </div>
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
<!-- Callout -->

</section>

    <script>      

        function goToFirstStep()
        {
            var target = "#firstStep";
            var url = '@Url.Action("FirstStep", "Main")';

            goToStep(target, url);

        }

        function goToStep(target, url) {
            $(target).load(url, function () {
                $(target).show();
                scrollTo(target);
            })
        }

        function goToStepHtml(target, html) {
            $(target).html(html);
            $(target).show();
            scrollTo(target);
        }

        function scrollTo(elementId) {
            var target = $(elementId);
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    </script>
