@{
    ViewBag.Title = "Start";
}

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Wybierz wymarzone wakacje!</h1>
        <h3>najlepsze propozycje wakacji w mieście</h3>
        <br>
        <a onclick="goToFirstStep()" class="btn btn-dark btn-lg">Spróbuj</a>
    </div>
</header>

<section id="firstStep" class="firstStep" style="display: none"></section>

    @*@{
            Html.RenderPartial("_FirstStepPartial");
            Html.RenderPartial("_SecondStepPartial");
            Html.RenderPartial("_ThirdStepPartial");
        }*@

    <script>      

        function goToFirstStep()
        {
            var target = "#firstStep";
            var url = '@Url.Action("FirstStep", "Main")';

            goToStep(target, url);

        }

        function goToStep(target, url) {
            $(target).load(url, function () {
                $(target).show();
                scrollTo(target);
            })
        }

        function scrollTo(elementId) {
            var target = $(elementId);
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    </script>
